<script src="/javascripts/group.js"></script>
<div id="sidebar">
    <span style="font-size: 2em;">Group</span> <button id="createBtn">+</button>
    <button id="allBtn">전체보기</button>
    <p><input class="search" type="text" placeholder="search!"></p>
</div>

<div id="main">
    <!--<div class="noteBg"></div>-->
</div>
