<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Note</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="/underscore/underscore.js"></script>
      <script src="/jquery/dist/jquery.js"></script>
      <script src="/backbone/backbone.js"></script>
      <script src="/handlebars/handlebars.js"></script>
      <script src="/moment/moment.js"></script>
      <!--<script src="/javascripts/note.js"></script>-->
      <script>

      </script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>

<!--<!doctype html>-->
<!--<html class="no-js" lang="">-->
<!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>-->
<!--</head>-->
<!--<body>-->

<!--<a href="http://handlebarsjs.org/static/images/handlebars_logo.png" class="dragout" data-downloadurl="imag/png:handlebars_logo.png:http://handlebarsjs.org/static/images/handlebars_logo.png">-->
    <!--<img src="http://handlebarsjs.org/static/images/handlebars_logo.png" alt=""/>-->
<!--</a>-->

<!--<script>-->
    <!--$('.dragout')[0].addEventListener("dragstart", function(e) {-->
        <!--console.log($('.dragout')[0].dataset)-->
        <!--e.dataTransfer.setData('DownloadURL', $('.dragout')[0].getAttribute('data-downloadurl'));-->
    <!--}, false);;-->

<!--</script>-->
<!--</body>-->
<!--</html>-->