<!--<script src="/javascripts/users.js"></script>-->
<!--<div id="sidebar">-->
    <!--<h1>users</h1>-->
    <!--<form action="/users/join" method="post">-->
        <!--<input name="user_id" type="text">-->
        <!--<input name="user_pw" type="password">-->
        <!--<input type="submit" value="Join">Join</input>-->
        <!--<button id="loginBtn">Login</button>-->
        <!--<button id="jinBtn">Join</button>-->
    <!--</form>-->
<!--</div>-->

<!--<div id="main">-->
    <!--<p><input id="user-id" type="text" placeholder="id"></p>-->
    <!--<p><input id="user-pw" type="password" placeholder="password"></p>-->
    <!--<button class="login">Login</button>-->
    <!--<button class="cancel" type="reset">Cancel</button>-->
<!--</div>-->

<a href="#" class="dnd" data-downloadurl="image/jpeg:Penguins.jpg:https://www.box.net/box_download_file?file_id=f66690">
    ddd
</a>
<a class="dragout" draggable="true" href="#" data-downloadurl="image/png:aa.png:http://handlebarsjs.com/images/handlebars_logo.png">
    dddddd
</a>